/*Basic Setup*/
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #131313;
    color: #E4B75C;
    font-family: serif;
}

:focus {
    outline: none;
}

/*Game Options Window*/
#options-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#options-window {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #45260C;
    border: 4px outset #644014;
    font-size: 20px;
    text-align: center;
    box-shadow: 8px 8px 16px black;
    padding: 12px;
}

/*game options heading*/
#game-options {
    width: 100%;
    margin: 20px 0;
}

#options-window h2 {
    margin: 14px 0;
}

#player-options {
    display: flex;
    align-items: center;
}

#p1-options, #p2-options {
    width: 200px;
    float: left;
    margin: 20px;
}

#p2-options {
    display: none;
}

.num-cards {
    margin-left: 8px;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
    color: #E4B75C;
    text-align: right;
    border: none;
    border-bottom: 2px solid #E4B75C;
    border-radius: 0;
    background-color: #45260C;
    -webkit-appearance: none;
    appearance: none;

}

#start-game {
    clear: both;
    margin-bottom: 20px;
}

/*div to hold the labels 'Player 1' and 'Player 2' and only show when 2 players*/
#players {
    width: 310px;
    position: absolute;
    left: 100px;
    top: 110px;
}

.p1 {
    float: left;
}

.p2 {
    float: right;
}

.radio {
    margin-left: 8px;
}

.name-input{
    margin-left: 8px;
    margin-bottom: 12px;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    color: #E4B75C;
    border: none;
    border-bottom: 2px solid #E4B75C;
    border-radius: 0;
    background-color: #45260C;
}

.faction{
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

.faction-selection-img {
    height: 100px;
}

/*Settings Window*/
#settings-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

audio {
    display: none;
}

.dialog-open{
    display: block !important;
}

#settings-window{
    position: absolute;
    height: 385px;
    width: 220px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #45260C;
    padding: 40px;
    border: 4px outset #644014;
    font-size: 20px;
    text-align: center;
    box-shadow: 8px 8px 16px black;
}

/*also for reset and new game*/
.button {
    cursor: pointer;
    border: 4px outset #644014;
    padding: 13px;
    position: relative;
    display: inline-block;
    background-color: #45260C;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px black;
    border-radius: 10px;
}

#options-window h4 {
    margin: 14px 0;
}

.button:active {
    box-shadow: 1px 1px 1px black;
}

/*BACKGROUND LAYER*/

.background-layer {
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#game-board-image {
    height: 568px;
    position: relative;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    background: url("images/azeroth-map.jpg");
    box-sizing: border-box;
    /*border: 4px inset #644014;*/
    box-shadow: 4px 4px 10px black inset;
}

#card-area {
    height: 568px;
    width: 1704px;
    position: absolute;
    top: 125px;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.6, 0.3, 0.5, 1.1);
}

.player1 {
    left: calc(50% - 426px);
}

.player2 {
    left: calc(50% - 1278px);
}

#player1-card-area, #player2-card-area {
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

/****** CARDS ******/
.card {
    height: 150px;
    width: 102px;
    margin: 10px;
    position: relative;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05);
}

.front img, .back img {
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

.front, .back {
    backface-visibility: hidden;
    transition-duration: .75s;
    transition-timing-function: linear;
}

.down {
    transform: rotateY(180deg);
}

/*FOREGROUND LAYER*/
#main-logo {
    height: 250px;
    position: relative;
    top: -35px;
    left: 50%;
    pointer-events: none;
    transform: translateX(-50%);
}

#p1-name-display, #p2-name-display {
    width: 178px;
    position: absolute;
    bottom: 13px;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    transition-duration: 1s;
}

#p1-name-display {
    left: 45px;
}

#p2-name-display {
    right: 45px;
}

.active-player {
    transform: scale(1.25);
    color: antiquewhite;
    /*background-color: #dcbf84;*/
    text-shadow: 3px 3px 3px black;
}

.foreground-left, .foreground-right {
    height: 568px;
    width: calc(50% - 426px);
    position: fixed;
    top: 125px;
    box-sizing: border-box;
}

.foreground-left {
    left: 0;
}

.foreground-right {
    right: 0;
}

.foreground-center-top {
    height: 125px;
    width: 852px;
    position: fixed;
    top: 0;
    left: calc(50% - 426px);
    /*background-image: url("images/title.png");*/
    box-sizing: border-box;
}

.foreground-center-middle {
    height: 568px;
    width: 852px;
    position: fixed;
    top: 160px;
    left: calc(50% - 426px);
    display: none;
}

.victory-background {
    height: 100%;
    width: 100%;
    background-color: #45260C;
    opacity: 0.6;
}

#victory img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%)rotateZ(-7deg);
    opacity: 1;
}

#victory .button {
    position: absolute;
    bottom: 40px;
}

#replay {
    position: absolute;
    top: 15px;
    left: 40px;
}

#restart {
    position: absolute;
    top: 15px;
    right: 40px;
}

.foreground-center-bottom {
    height: calc(100% - 693px);
    width: 852px;
    position: fixed;
    top: 693px;
    left: calc(50% - 426px);
    box-sizing: border-box;
}

/********** ART ASSET PLACEMENT **********/

#left-crest {
    height: 200px;
    position: absolute;
    top: -106px;
    right: -47px;
    transform: rotateZ(-9deg);
    border-bottom-right-radius: 120px 185px;
}

#right-crest {
    height: 165px;
    position: absolute;
    top: -91px;
    left: -26px;
    transform: rotateZ(9deg);
    border-bottom-left-radius: 75px 106px;
}

#left-hero {
    width: 221px;
    position: absolute;
    right: -30px;
    bottom: calc((100vh - 693px) * -1);
}

#right-hero {
    width: 170px;
    position: absolute;
    bottom: calc((100vh - 693px) * -1);
    left: -20px;
}

/********** BACKGROUND COLOR **********/

.background-layer, .foreground-left, .foreground-center-top, .foreground-right {
    background-color: #131313;
}


#message {
    display: none;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#message-logo {
    position: relative;
    width: 80%;
}

#message-text {
    width: 635px;
    font-size: 2em;
    position: relative;
    left: 50%;
    top: -8%;
    transform: translateX(-50%);
}

.portfolio-link {
    color: inherit;
    cursor: pointer;
}

.portfolio-link:hover {
    color: #D8C59E;
}

/*Style sheet for mobile*/
@media screen and (max-width: 1089px){
    #game {
        display: none;
    }

    #message {
        display: block;
    }
}